{% extends 'base.html' %}

{% block main %}
    <h2 class="border-bottom m-3 p-3">Interfaces</h2>
    <nav id="nav-interface" class="nav-menu">
        <div class="mb-1">
            <a href="/interface/create" class="btn btn-primary w-100">Create</a>
        </div>
        <div class="mb-1">
            <a href="/interface/read" class="btn btn-primary w-100">Read</a>
        </div>
        <div class="mb-1">
            <a href="#" class="btn btn-secondary w-100">Update</a>
        </div>
        <div class="mb-0">
            <a href="/interface/delete" class="btn btn-primary w-100">Delete</a>
        </div>
    </nav>
{% endblock %}
