flask
peewee
requests
scrypt
jwcrypto
blinker
click
simplejson
python-dotenv
watchdog
wtforms[email]
flask-wtf
flask-admin
flask-security
flask-peewee
git+https://github.com/teleprint-me/coinbase-pro.git#egg=coinbase-pro
