flask >= 2.0.2
peewee >= 3.14.8
requests >= 2.26.0
scrypt >= 0.8.18
jwcrypto >= 1.0
blinker
click
simplejson
python-dotenv
watchdog
wtforms[email]
flask-wtf
flask-admin
flask-security
flask-peewee
git+https://github.com/teleprint-me/coinbase-pro.git#egg=coinbase-pro
