{% extends 'base.html' %}

{% block main %}
    <nav class="mt-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/menu">Menu</a></li>
            <li class="breadcrumb-item"><a href="/setting/menu">Settings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Read</li>
        </ol>
    </nav>
    <table>
        <thead>
            <tr>
                <th colspan="10">User</th>
            </tr>
            <tr>
                <th>Email</th>
                <th>Currency</th>
                <th>Theme</th>
                <th>SID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="username">{{ g.user.name | lower}}</td>
                <td data-label="currency">{{ g.user.currency | upper}}</td>
                <td data-label="theme">{{ g.user.theme | capitalize}}</td>
                <td data-label="sid">{{ g.user.sid | upper}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
