<style>
    .contact {
        padding: var(--spacing);
        display: flex;
        flex-flow: column nowrap;
    }

    .contact div {
        display: flex;
        flex: 1 1;
        margin: var(--spacing);
    }

    .contact div textarea {
        resize: none;
    }

    .contact div input,
    .contact div textarea {
        outline: none;
        flex: auto;
        border-radius: var(--border-radius);
        background: var(--background-tertiary);
        border: var(--border-primary);
        color: var(--primary);
        padding: var(--spacing);
        transition: all var(--duration) ease-in-out;
    }

    .contact div input:hover,
    .contact div input:focus,
    .contact div input:active,
    .contact div textarea:hover,
    .contact div textarea:focus,
    .contact div textarea:active {
        border: 1px solid var(--secondary);
        background: var(--background-primary);
    }

    .contact div input[type='submit']:hover,
    .contact div input[type='submit']:focus,
    .contact div input[type='submit']:active {
        background: var(--secondary);
        border: 1px solid var(--secondary);
    }

    :root:has([data-theme='light']) div input[type='submit']:hover,
    :root:has([data-theme='light']) div input[type='submit']:focus,
    :root:has([data-theme='light']) div input[type='submit']:active {
        color: white;
    }

    :root:has([data-theme='dark']) div input[type='submit']:hover,
    :root:has([data-theme='dark']) div input[type='submit']:focus,
    :root:has([data-theme='dark']) div input[type='submit']:active {
        color: black;
    }
</style>

<div class="container">
    <div class="wrapper">
        <h3 class="highlight">contact</h3>
        <div class="section">
            <h4 class="highlight">call to action</h4>
            <div class="description">
                <p class="text">
                    If you like my work, then you should send me a message!
                </p>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">contact form</h4>
            <form class="contact" method="post" autocomplete="on">
                <div>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="email"
                    />
                </div>
                <div>
                    <input
                        type="text"
                        name="subject"
                        id="subject"
                        placeholder="subject"
                    />
                </div>
                <div>
                    <textarea
                        name="body"
                        id="body"
                        rows="12"
                        cols="35"
                        placeholder="message body"
                    ></textarea>
                </div>
                <div>
                    <input type="submit" name="submit" value="Send" disabled/>
                </div>
            </form>
        </div>
    </div>
</div>
