<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>teleprint.me</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/static/images/favicon_io/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/static/images/favicon_io/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/static/images/favicon_io/favicon-16x16.png"
        />
        <link
            rel="manifest"
            href="/static/images/favicon_io/site.webmanifest"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
        />
        <link rel="stylesheet" href="/static/styles/root.css" />
    </head>

    <body>
        <app-router>
            <nav slot="router" class="router">
                <a href="#" class="theme-moon" data-theme="light">
                    <i class="bx bxs-moon bx-md"></i>
                    <span class="text">Dark</span>
                </a>
                <a href="/#!/" data-route>
                    <i class="bx bxs-ghost bx-md"></i>
                    <span class="text">Profile</span>
                </a>
                <a href="/#!/portfolio" data-route>
                    <i class="bx bxl-git bx-md"></i>
                    <span class="text">Portfolio</span>
                </a>
                <a href="/#!/contact" data-route>
                    <i class="bx bxs-send bx-md"></i>
                    <span class="text">Contact</span>
                </a>
            </nav>
        </app-router>
        <app-main></app-main>
        <script type="module" src="/static/modules/app.mjs"></script>
    </body>
</html>
