<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- TODO: https://developer.mozilla.org/en-US/docs/Web/HTTP/Permissions_Policy -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>index.md</title>
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet" />
        <link href="/static/styles/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Router -->
        <header>
            <nav class="router">
                <a href="/">
                    <i class="bx bxs-user bx-md"></i>
                    <span class="text">Profile</span>
                </a>
                <a href="/static/views/links.html">
                    <i class="bx bxs-file bx-md"></i>
                    <span class="text">Articles</span>
                </a>
                <a class="theme-moon" data-theme="light">
                    <i class="bx bxs-moon bx-md"></i>
                    <span class="text">Dark</span>
                </a>
            </nav>
        </header>

        <!-- Application -->
        <main><h1 id="hello-im-austin.">Hello, I'm <a
href="#highlight">Austin</a>.</h1>
<p>I'm a self-taught programmer with a passion for problem-solving and
efficient solution design. My journey in programming has been driven by
my curiosity and love for learning. My main areas of interest include
GNU + Linux, software development, and language modeling.</p>
<h2 id="skills">Skills</h2>
<ul>
<li>Shell</li>
<li>C</li>
<li>C++</li>
<li>Python</li>
<li>HTML</li>
<li>CSS</li>
<li>JavaScript</li>
</ul>
<h2 id="interests">Interests</h2>
<ul>
<li>GNU + Linux</li>
<li>Software Development</li>
<li>Interpreters</li>
<li>Language Modeling</li>
<li>Graphics Programming</li>
</ul>
<h2 id="learning-goals">Learning Goals</h2>
<ul>
<li>Refining skills in C</li>
<li>Learning Lua</li>
<li>Building Interpreters</li>
<li>Data Analysis</li>
<li>Machine Learning</li>
</ul>
<h2 id="projects">Projects</h2>
<h3 id="mlp">MLP</h3>
<p>A multi-layer perceptron.</p>
<h4 id="application">Application</h4>
<p><a href="https://github.com/teleprint-me/mlp.cpp">GitHub</a></p>
<h4 id="toolkit">Toolkit</h4>
<ul>
<li>Linux</li>
<li>Shell</li>
<li>Git</li>
<li>C</li>
<li>C++</li>
</ul>
<h3 id="byte-pair">Byte-pair</h3>
<p>Byte Pair Encoder for Natural Language Processing.</p>
<h4 id="application-1">Application</h4>
<p><a href="https://github.com/teleprint-me/byte-pair">GitHub</a></p>
<h4 id="toolkit-1">Toolkit</h4>
<ul>
<li>Linux</li>
<li>Shell</li>
<li>Git</li>
<li>Python</li>
</ul>
<h3 id="pygptprompt">PyGPTPrompt</h3>
<p>PyGPTPrompt is a CLI tool that manages context windows for AI models,
facilitating user interaction and data ingestion for optimized long-term
memory and task automation. While it was initially designed for the <a
href="https://platform.openai.com/docs/introduction">OpenAI REST
API</a>, it now supports a wider range of AI models.</p>
<blockquote>
<p><strong>Note:</strong> This application requires an <a
href="https://platform.openai.com/account/api-keys">API key</a> from the
respective AI model provider.</p>
</blockquote>
<h4 id="application-2">Application</h4>
<p><a
href="https://github.com/teleprint-me/py.gpt.prompt">GitHub</a></p>
<h4 id="showcase">Showcase</h4>
<figure>
<img src="/static/videos/gpt-3.5-turbo-mobile.gif"
alt="PyGPTPrompt Demo" />
<figcaption aria-hidden="true">PyGPTPrompt Demo</figcaption>
</figure>
<h4 id="toolkit-2">Toolkit</h4>
<ul>
<li>Linux</li>
<li>Shell</li>
<li>Git</li>
<li>Python</li>
</ul>
<h3 id="bootstrap-arch-linux">Bootstrap Arch Linux</h3>
<p>Experimental, minimalistic, and modular shell scripts to bootstrap <a
href="https://archlinux.org">Arch Linux</a>.</p>
<h4 id="application-3">Application</h4>
<p><a
href="https://github.com/teleprint-me/bootstrap-arch-linux">GitHub</a></p>
<h4 id="toolkit-3">Toolkit</h4>
<ul>
<li>Linux</li>
<li>Shell</li>
<li>Git</li>
</ul>
<h3 id="snake">Snake</h3>
<p>A simple <a
href="https://developer.mozilla.org/en-US/docs/Glossary/SPA">SPA</a>
designed to explore the <a
href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API">Canvas
API</a>.</p>
<blockquote>
<p><strong>Note:</strong> This application is a modified fork of <a
href="https://github.com/CodingWith-Adam/snake">CodingWith-Adam/snake</a>.</p>
</blockquote>
<h4 id="application-4">Application</h4>
<p><a href="/snake/index.html">Showcase</a> | <a
href="https://github.com/teleprint-me/snake">GitHub</a></p>
<h4 id="toolkit-4">Toolkit</h4>
<ul>
<li>Git</li>
<li>HTML</li>
<li>CSS</li>
<li>JavaScript</li>
</ul>
<h2 id="contribute-connect">Contribute &amp; Connect</h2>
<h3 id="sponsor">Sponsor</h3>
<p>If you find value in my projects, particularly in areas like Neural
Networks, Natural Language Processing, and Model Alignment, consider
becoming a sponsor. Your support allows me to devote more time to
developing transformative open-source projects, such as pygptprompt,
valerie, alt.cpp, contributions to llama.cpp &amp; ggml, and more.
Sponsorships, managed through GitHub, directly fuel research,
development, and the creation of high-quality, open-source tools for the
community.</p>
<p><a href="https://github.com/sponsors/teleprint-me?o=esb"
title="Sponsor teleprint-me">Become a Sponsor</a></p>
<h3 id="donate">Donate</h3>
<p>For those who prefer a one-time contribution or wish to support
without a long-term commitment, donations are a valuable way to
contribute. Each donation, big or small, plays a significant role in
sustaining my open-source work in AI and ML. Donations can be made using
Bitcoin, offering a universal and convenient method for your generous
support.</p>
<p><a
href="https://blockstream.info/address/3E1rEDAoLYJG6fD7B27K394HQxmiYpK68V"
title="Donate using Bitcoin">Donate using Bitcoin</a></p>
<h3 id="social">Social</h3>
<ul>
<li><a href="https://github.com/teleprint-me">GitHub</a></li>
<li><a href="https://huggingface.co/teleprint-me">Hugging Face</a></li>
<li><a href="mailto:aberrio@teleprint.me">Email me</a></li>
</ul>
<hr />
<p align="center">
Copyright (C) 2022 Austin Berrio
</p></main>

        <!-- Modules -->
        <script src="/static/modules/main.mjs" type="module"></script>
        <script type="module">
            import {Theme, responsiveTables} from '/static/modules/main.mjs';

            // Configure responsive tables and content theme
            document.addEventListener('DOMContentLoaded', (event) => {
                const theme = new Theme();
                theme.init();
                responsiveTables();
            });
        </script>
    </body>
</html>
