<div class="container">
    <div class="wrapper">
        <h3 class="highlight">snoopr</h3>
        <div class="section">
            <h4 class="highlight">description</h4>
            <div class="description">
                <p class="text">A simple <a data-ng-href="https://developer.mozilla.org/en-US/docs/Glossary/SPA" target="_blank">SPA</a> designed to explore the <a data-ng-href="https://angularjs.org/" target="_blank">AngularJS</a> framework.</p>
                <p class="note">
                    <span class="highlight">*</span>
                    This application requires a <a data-ng-href="https://developers.themoviedb.org/3/getting-started/introduction" target="_blank">tmdb api key</a>.</p>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">Application</h4>
            <nav class="menu">
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxs-home bx-md'></i>
                </a>
                <a class="menu__icon" data-ng-href="https://github.com/teleprint-me/snoopr" target="_blank">
                    <i class='bx bxl-github bx-md'></i>
                </a>
            </nav>
        </div>
        <div class="section">
            <h4 class="highlight">tool kit</h4>
            <nav class="menu">
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-html5 bx-sm'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-css3 bx-sm'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-javascript bx-sm'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-angular bx-sm'></i>
                </a>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <h3>ServiceNow: Movie Tracker</h3>
        <div class="section">
            <h4 class="highlight">description</h4>
            <div class="description">
                <p class="text">
                    A Movie Tracker application designed to explore <a data-ng-href="https://www.servicenow.com/" target="_blank">ServiceNow</a> Scripting and Application development.</p>
                <p class="note">
                    <span class="highlight">*</span>
                    This application requires a <a data-ng-href="https://developer.servicenow.com/dev.do" target="_blank">servicenow pdi</a> and a <a data-ng-href="https://developers.themoviedb.org/3/getting-started/introduction" target="_blank">tmdb api key</a>.</p>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">demonstration</h4>
            <nav class="menu">
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bx-play-circle bx-md'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxs-timer bx-md'></i>
                </a>
                <a class="menu__icon" data-ng-href="/docs/servicenow-application-outline.pdf" target="_blank">
                    <i class='bx bxs-file-pdf bx-md'></i>
                </a>
                <a class="menu__icon" data-ng-href="https://github.com/teleprint-me/servicenow-movie-tracker" target="_blank">
                    <i class='bx bxl-github bx-md'></i>
                </a>
            </nav>
        </div>
        <div class="section">
            <h4 class="highlight">video</h4>
            <video controls>
                <source src="/videos/service-portal-project-2022-10-15.mp4" type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
        </div>
        <div class="section">
            <h4 class="highlight">Timestamps</h4>
            <nav class="grid-row">
                <a data-ng-href="">00. Outline</a>
                <a data-ng-href="">01. Jira Backlog</a>
                <a data-ng-href="">02. Git Repository</a>
                <a data-ng-href="">03. Git Repository</a>
                <a data-ng-href="">04. Application Studio</a>
                <a data-ng-href="">05. Custom Table</a>
                <a data-ng-href="">06. Custom View Filters</a>
                <a data-ng-href="">07. Custom Records</a>
                <a data-ng-href="">08. Custom Notification</a>
                <a data-ng-href="">09. Custom Report</a>
                <a data-ng-href="">10. Custom Widget</a>
            </nav>
        </div>
        <div class="section">
            <h4 class="highlight">tool kit</h4>
            <nav class="menu">
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-html5 bx-sm'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-css3 bx-sm'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-javascript bx-sm'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-bootstrap bx-sm'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-angular bx-sm'></i>
                </a>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <h3>ServiceNow: Capstone Project</h3>
        <div class="section">
            <h4 class="highlight">description</h4>
            <div class="description">
                <p class="text">
                    A ServiceNow video covering 7 topics studied with <a data-ng-href="https://newapprenticeship.com/" target="_blank">NewApprenticeship</a> and the <a data-ng-href="https://nowlearning.servicenow.com/lxp" target="_blank">ServiceNow NowLearning Platform</a>.</p>
                <p class="note">
                    <span class="highlight">*</span>
                    A <a data-ng-href="https://developer.servicenow.com/dev.do">servicenow pdi</a> is used to demonstrate my understanding.</p>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">demonstration</h4>
            <nav class="menu">
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bx-play-circle bx-md'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxs-timer bx-md'></i>
                </a>
                <a class="menu__icon" data-ng-href="/docs/servicenow-capstone-project-slides.pdf" target="_blank">
                    <i class='bx bxs-file-pdf bx-md'></i>
                </a>
            </nav>
        </div>
        <div class="section">
            <h4 class="highlight">video</h4>
            <video controls>
                <source src="/videos/capstone-project-2022-09-18.mp4" type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
        </div>
        <div class="section">
            <h4 class="highlight">Timestamps</h4>
            <nav class="grid-row">
                <a data-ng-href="">00. Introduction</a>
                <a data-ng-href="">01. Instance Customization</a>
                <a data-ng-href="">02. Incident Management</a>
                <a data-ng-href="">03. User Administration</a>
                <a data-ng-href="">04. Service Catalog</a>
                <a data-ng-href="">05. Knowledge Base</a>
                <a data-ng-href="">06. Mobile UI</a>
                <a data-ng-href="">07. Tasks</a>
                <a data-ng-href="">08. Conclusion</a>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <h3 class="highlight">snake</h3>
        <div class="section">
            <h4 class="highlight">description</h4>
            <div class="description">
                <p class="text">
                    A simple <a data-ng-href="https://developer.mozilla.org/en-US/docs/Glossary/SPA">SPA</a> designed to explore the <a data-ng-href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API">Canvas API</a>.</p>
                <p class="note">
                    <span class="highlight">*</span>
                    This application requires a browser that supports html5 canvas.</p>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">Application</h4>
            <nav class="menu">
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxs-home bx-md'></i>
                </a>
                <a class="menu__icon" data-ng-href="https://github.com/teleprint-me/snake" target="_blank">
                    <i class='bx bxl-github bx-md'></i>
                </a>
            </nav>
        </div>
        <div class="section">
            <h4 class="highlight">tool kit</h4>
            <nav class="menu">
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-html5 bx-sm'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-css3 bx-sm'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-javascript bx-sm'></i>
                </a>
            </nav>
        </div>
    </div>
</div>


<div class="container">
    <div class="wrapper">
        <h3 class="highlight">flashcards</h3>
        <div class="section">
            <h4 class="highlight">description</h4>
            <div class="description">
                <p class="text">
                    A simple <a data-ng-href="https://developer.mozilla.org/en-US/docs/Glossary/SPA">SPA</a> designed to explore the <a data-ng-href="https://developer.mozilla.org/en-US/docs/Web/API/Storage">Storage API</a>.</p>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">Application</h4>
            <nav class="menu">
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxs-home bx-md'></i>
                </a>
                <a class="menu__icon" data-ng-href="https://github.com/teleprint-me/flashcards" target="_blank">
                    <i class='bx bxl-github bx-md'></i>
                </a>
            </nav>
        </div>
        <div class="section">
            <h4 class="highlight">tool kit</h4>
            <nav class="menu">
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-html5 bx-sm'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-css3 bx-sm'></i>
                </a>
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-javascript bx-sm'></i>
                </a>
            </nav>
        </div>
    </div>
</div>


<div class="container">
    <div class="wrapper">
        <h3 class="highlight">coinbase pro</h3>
        <div class="section">
            <h4 class="highlight">description</h4>
            <div class="description">
                <p class="text">
                    A pythonic implementation of the <a data-ng-href="https://pro.coinbase.com/" target="_blank">Coinbase Pro</a> REST API.</p>
                <p class="text">
                    A library designed to explore the <a data-ng-href="https://pypi.org/project/requests/" target="_blank">requests</a> and <a data-ng-href="https://pypi.org/project/websocket/">websocket</a> libraries, <a data-ng-href="https://pypi.org/project/pytest/" target="_blank">pytest</a> test suite, <a data-ng-href="https://pypi.org/project/poetry/" target="_blank">poetry</a> package and dependency management, and the <a data-ng-href="https://www.travis-ci.com/">Travis CI</a> service for building and testing.</p>
                <p class="note">
                    <span class="highlight">*</span>
                    This library includes comprehensive documentation and requires a coinbase pro api key.</p>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">library</h4>
            <nav class="menu">
                <a class="menu__icon" data-ng-href="https://github.com/teleprint-me/coinbase-pro/blob/main/docs/01-Quickstart.md#quickstart" target="_blank">
                    <i class='bx bxs-file-md bx-md'></i>
                </a>
                <a class="menu__icon" data-ng-href="https://github.com/teleprint-me/coinbase-pro" target="_blank">
                    <i class='bx bxl-github bx-md'></i>
                </a>
            </nav>
        </div>
        <div class="section">
            <h4 class="highlight">tool kit</h4>
            <nav class="menu">
                <a class="menu__icon" data-ng-href="">
                    <i class='bx bxl-python bx-sm'></i>
                </a>
            </nav>
        </div>
    </div>
</div>
