<div class="container">
    <div class="wrapper"> 
        <div class="section profile">
            <h2>
                <span class="highlight">first</span> last
            </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <h3 class="highlight">Profile</h3>
        <div class="section">
            <h4 class="highlight">about</h4>
            <div class="description">
                <p class="text">I enjoy advancing my knowledge and experience with programming as my primary subject of interest.</p>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">skills</h4>
            <div class="section flex-row">
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
                <ul>
                    <li>Shell</li>
                    <li>Python</li>
                    <li>C</li>
                </ul>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">interests</h4>
            <div class="section flex-row">
                <ul>
                    <li>GNU + Linux</li>
                    <li>Web Development</li>
                </ul>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">Resources</h4>
            <nav class="menu">
                <a class="menu__icon" href="https://www.linkedin.com/in/austin-berrio-b1606124a"
                target="_blank">
                    <i class='bx bxl-linkedin-square bx-md'></i>
                </a>
                <a class="menu__icon" href="/static/docs/cv-live-template.pdf" target="_blank">
                    <i class='bx bxs-file-pdf bx-md'></i>
                </a>
            </nav>
        </div>
    </div>
</div>
