<div class="container">
    <div class="wrapper">
        <h3 class="highlight">PyGPTPrompt</h3>
        <div class="section">
            <h4 class="highlight">description</h4>
            <div class="description">
                <p class="text">
                    PyGPTPrompt is a Python interface for the
                    <a href="https://platform.openai.com/docs/introduction"
                        >OpenAI REST API</a
                    >
                    that enables automation of GPT-specific tasks using prompts.
                </p>
                <p class="note">
                    <span class="highlight">*</span>
                    This application requires a
                    <a
                        href="https://platform.openai.com/account/api-keys"
                        target="_blank"
                        >openai api key</a
                    >.
                </p>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">Application</h4>
            <nav class="menu">
                <a>
                    <i class="bx bxs-home bx-md"></i>
                </a>
                <a
                    href="https://github.com/teleprint-me/py.gpt.prompt"
                    target="_blank"
                >
                    <i class="bx bxl-github bx-md"></i>
                </a>
            </nav>
        </div>
        <div class="section">
            <h4 class="highlight">video</h4>
            <div class="video-container">
                <img
                    src="/static/videos/gpt-3.5-turbo-mobile.gif"
                    type="image/gif"
                />
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">tool kit</h4>
            <nav class="menu">
                <a>
                    <i class="bx bxl-python bx-sm"></i>
                </a>
            </nav>
        </div>
    </div>
</div>
