<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- TODO: https://developer.mozilla.org/en-US/docs/Web/HTTP/Permissions_Policy -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>$pagetitle$</title>
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet" />
        <link href="/static/styles/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Router -->
        <header>
            <nav class="router">
                <a href="/">
                    <i class="bx bxs-user bx-md"></i>
                    <span class="text">Profile</span>
                </a>
                <a href="/static/views/links.html">
                    <i class="bx bxs-file bx-md"></i>
                    <span class="text">Articles</span>
                </a>
                <a class="theme-moon" data-theme="light">
                    <i class="bx bxs-moon bx-md"></i>
                    <span class="text">Dark</span>
                </a>
            </nav>
        </header>

        <!-- Application -->
        <main>$body$</main>

        <!-- Modules -->
        <script src="/static/modules/main.mjs" type="module"></script>
        <script type="module">
            import {Theme} from '/static/modules/main.mjs';

            const theme = new Theme();
            theme.init();
        </script>
    </body>
</html>
