<div class="container">
    <div class="wrapper">
        <h3 class="highlight">snoopr</h3>
        <div class="section">
            <h4 class="highlight">description</h4>
            <div class="description">
                <p class="text">
                    A simple
                    <a
                        href="https://developer.mozilla.org/en-US/docs/Glossary/SPA"
                        target="_blank"
                        >SPA</a
                    >
                    designed to explore the
                    <a href="https://angularjs.org/" target="_blank"
                        >AngularJS</a
                    >
                    framework.
                </p>
                <p class="note">
                    <span class="highlight">*</span>
                    This application requires a
                    <a
                        href="https://developers.themoviedb.org/3/getting-started/introduction"
                        target="_blank"
                        >tmdb api key</a
                    >.
                </p>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">Application</h4>
            <nav class="menu">
                <a>
                    <i class="bx bxs-home bx-md"></i>
                </a>
                <a
                    href="https://github.com/teleprint-me/snoopr"
                    target="_blank"
                >
                    <i class="bx bxl-github bx-md"></i>
                </a>
            </nav>
        </div>
        <div class="section">
            <h4 class="highlight">tool kit</h4>
            <nav class="menu">
                <a>
                    <i class="bx bxl-html5 bx-sm"></i>
                </a>
                <a>
                    <i class="bx bxl-css3 bx-sm"></i>
                </a>
                <a>
                    <i class="bx bxl-javascript bx-sm"></i>
                </a>
                <a>
                    <i class="bx bxl-angular bx-sm"></i>
                </a>
            </nav>
        </div>
    </div>
</div>
