<div class="container">
    <div class="wrapper">
        <h3>ServiceNow: Movie Tracker</h3>
        <div class="section">
            <h4 class="highlight">description</h4>
            <div class="description">
                <p class="text">
                    A Movie Tracker application designed to explore
                    <a href="https://www.servicenow.com/" target="_blank"
                        >ServiceNow</a
                    >
                    Scripting and Application development.
                </p>
                <p class="note">
                    <span class="highlight">*</span>
                    This application requires a
                    <a
                        href="https://developer.servicenow.com/dev.do"
                        target="_blank"
                        >servicenow pdi</a
                    >
                    and a
                    <a
                        href="https://developers.themoviedb.org/3/getting-started/introduction"
                        target="_blank"
                        >tmdb api key</a
                    >.
                </p>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">demonstration</h4>
            <nav class="menu">
                <a>
                    <i class="bx bx-play-circle bx-md"></i>
                </a>
                <a>
                    <i class="bx bxs-timer bx-md"></i>
                </a>
                <a
                    href="/static/documents/servicenow-application-outline.pdf"
                    target="_blank"
                >
                    <i class="bx bxs-file-pdf bx-md"></i>
                </a>
                <a
                    href="https://github.com/teleprint-me/servicenow-movie-tracker"
                    target="_blank"
                >
                    <i class="bx bxl-github bx-md"></i>
                </a>
            </nav>
        </div>
        <div class="section">
            <h4 class="highlight">video</h4>
            <div class="video-container">
                <video controls>
                    <source
                        src="/static/videos/service-portal-project-2022-10-15.mp4"
                        type="video/mp4"
                    />
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </div>
        </div>
        <div class="section">
            <h4 class="highlight">Timestamps</h4>
            <nav class="grid-row">
                <a data-timestamp>00. Outline</a>
                <a data-timestamp>01. Jira Backlog</a>
                <a data-timestamp>02. Git Repository</a>
                <a data-timestamp>03. Git Repository</a>
                <a data-timestamp>04. Application Studio</a>
                <a data-timestamp>05. Custom Table</a>
                <a data-timestamp>06. Custom View Filters</a>
                <a data-timestamp>07. Custom Records</a>
                <a data-timestamp>08. Custom Notification</a>
                <a data-timestamp>09. Custom Report</a>
                <a data-timestamp>10. Custom Widget</a>
            </nav>
        </div>
        <div class="section">
            <h4 class="highlight">tool kit</h4>
            <nav class="menu">
                <a>
                    <i class="bx bxl-html5 bx-sm"></i>
                </a>
                <a>
                    <i class="bx bxl-css3 bx-sm"></i>
                </a>
                <a>
                    <i class="bx bxl-javascript bx-sm"></i>
                </a>
                <a>
                    <i class="bx bxl-bootstrap bx-sm"></i>
                </a>
                <a>
                    <i class="bx bxl-angular bx-sm"></i>
                </a>
            </nav>
        </div>
    </div>
</div>
