@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

:root:has(a[data-theme='dark']) {
    --primary: rgb(250, 250, 250);
    --secondary: rgb(180, 220, 255);
    --background-primary: rgb(50, 50, 50);
    --background-secondary: rgb(65, 65, 65);
    --background-tertiary: rgb(75, 75, 75);
    --box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    :root:not(:has(a[data-theme='light'])) {
        --primary: rgb(250, 250, 250);
        --secondary: rgb(180, 220, 255);
        --background-primary: rgb(50, 50, 50);
        --background-secondary: rgb(65, 65, 65);
        --background-tertiary: rgb(75, 75, 75);
        --box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
    }
}

:root {
    --primary: rgb(50, 50, 50);
    --secondary: rgb(45, 147, 255);
    --background-primary: rgb(250, 250, 250);
    --background-secondary: rgb(235, 235, 235);
    --background-tertiary: rgb(225, 225, 225);
    --box-shadow: 1px 1px 4px 2px rgba(50, 50, 50, 0.2);
    --success: rgb(0, 200, 50);
    --warning: rgb(255, 255, 0);
    --danger: rgb(200, 35, 35);
    --border-primary: 1px solid var(--background-tertiary);
    --border-secondary: 1px solid var(--primary);
    --border-tertiary: 1px solid var(--secondary);
    --border-radius: 0.625em;
    --delay: 200ms;
    --duration: 500ms;
    --font-primary: 'Noto Sans Mono';
    --font-family: var(--font-primary), Monospace, Arial, Helvetica, Times;
    --font-size-xs: 0.75em;
    --font-size-sm: 0.875em;
    --font-size-md: 1em;
    --font-size-lg: 1.125em;
    --font-size-xl: 1.25em;
    --spacing: 0.625em;
    /* hljs light theme */
    --hljs-keyword: var(--primary);
    --hljs-type: darkslategray;
    --hljs-string: darkgreen;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    border-radius: 10px;
}

body {
    background: var(--background-primary);
    color: var(--primary);
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
}

header,
main {
    margin: 0 auto;
    max-width: 50%;
    background: var(--background-secondary);
    border: var(--border-primary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 10px auto;
    padding: 10px;
}

nav.router {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-flow: row nowrap;
    min-height: 3.125em;
}

nav.router a {
    display: flex;
    flex-flow: column nowrap;
    transition: all var(--duration) ease-in-out;
    text-decoration: none;
    align-items: center;
}

nav.router a:hover,
nav.router a:focus,
nav.router a:active {
    color: var(--secondary);
}

nav.router .theme-sun:hover,
nav.router .theme-sun:active,
nav.router .theme-sun:focus {
    color: rgb(247, 223, 30);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    border-bottom: var(--border-primary);
    color: var(--secondary);
    padding: var(--spacing);
    text-transform: capitalize;
}

h3 {
    font-size: var(--font-size-xl);
}

h4 {
    font-size: var(--font-size-lg);
}

a {
    color: var(--primary);
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
    transition: all var(--duration) ease-in-out;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: var(--secondary);
}

p {
    margin: 5px;
    padding: 5px;
}

ol,
ul {
    flex: 1 1;
    list-style-type: none;
    margin: 1em;
}

li {
    font-size: 1em;
    text-align: left;
    margin: 5px;
    padding: 5px;
}

table {
    margin: 10px auto;
    width: 100%;
    border: var(--border-primary);
    border-radius: var(--border-radius);
    text-align: center;
}

thead {
    font-weight: bold;
}

thead td {
    border-bottom: var(--border-primary);
}

tbody {
    padding: var(--spacing);
}

tr,
td {
    padding: 5px;
}

figure {
    position: relative;
    width: 100%;
    padding-bottom: 57%;
    overflow: hidden;
}

figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* This will ensure that your image covers the entire container without being stretched or squeezed */
}

pre {
    border-radius: var(--border-radius);
}

p>code {
    font-size: var(--font-size-md);
    font-weight: bold;
}

pre>code {
    font-size: var(--font-size-md);
    border-radius: var(--border-radius);
}

code.hljs {
    background-color: var(--background-primary);
    color: var(--primary);
}

.hljs-meta {
    /* matte black */
    color: var(--primary);
}

.hljs-params {
    /* matte black */
    color: var(--primary);
}

.hljs-type {
    /* red */
    color: rgb(150, 0, 50);
    font-weight: bold;
}

.hljs-keyword {
    /* blue */
    color: rgb(0, 100, 255);
    font-weight: bold;
}

.hljs-built_in {
    /* brown */
    color: rgb(140, 80, 20);
    font-weight: bold;
}

.hljs-title.function_ {
    /* blue */
    color: rgb(0, 100, 255);
}

.hljs-number {
    /* purple */
    color: rgb(128, 0, 128);
}

.hljs-string {
    /* green */
    color: rgb(0, 128, 32);
}

.hljs-comment {
    /* grey */
    color: rgb(127, 127, 127);
    font-size: var(--font-size-sm);
    font-weight: bold;
}

span.math.display {
    display: block;
    text-align: center;
    /* matte black */
    color: var(--primary);
}

span.math.display sub {
    font-size: var(--font-size-sm);
}

span.math.inline {
    /* matte black */
    color: var(--primary);
    font-weight: bold;
}

@media (max-width: 7680px) {

    header,
    main {
        max-width: 30%;
    }
}

@media (max-width: 3840px) {

    header,
    main {
        max-width: 35%;
    }
}

@media (max-width: 1920px) {

    header,
    main {
        max-width: 40%;
    }
}

@media (max-width: 1280px) {

    header,
    main {
        max-width: 50%;
    }
}

@media (max-width: 1024px) {

    header,
    main {
        max-width: 65%;
    }
}

@media (max-width: 720px) {

    header,
    main {
        max-width: 75%;
    }
}

@media (max-width: 576px) {

    header,
    main {
        max-width: 85%;
    }
}

@media (max-width: 480px) {

    header,
    main {
        max-width: 95%;
    }
}