{% extends 'base.html' %}

{% block main %}
    <nav class="mt-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Menu</li>
        </ol>
    </nav>

    <nav id="nav-menu" class="nav-menu">
        <div class="mb-1">
            <a href="/interface/menu" class="btn btn-primary w-100">Interfaces</a>
        </div>
        <div class="mb-1">
            <a href="/strategy/menu" class="btn btn-primary w-100">Strategies</a>
        </div>
        <div class="mb-1">
            <a href="#" class="btn btn-secondary w-100">Wallets</a>
        </div>
        <div class="mb-1">
            <a href="/settings/update" class="btn btn-primary w-100">Settings</a>
        </div>
        <div class="mb-1">
            <a href="#" class="btn btn-secondary w-100">Tips</a>
        </div>
        <div class="mb-1">
            <a href="/license" class="btn btn-primary w-100">License</a>
        </div>
        <div class="mb-1">
            <a href="https://github.com/teleprint-me/teleprint-me" 
               target="_blank" 
               class="btn btn-primary w-100">Source
            </a>
        </div>
        <div class="mb-0">
            <a href="/auth/sign-out" class="btn btn-primary w-100">Sign out</a>
        </div>
    </nav>
{% endblock %}
