{% if g.user %}
    <nav id="nav-dock" class="nav-main">
        <a href="/">
            <i class='bx bx-coin-stack'></i>
            <span>Portfolio</span>
        </a>
        <a href="/strategy/trade">
            <i class='bx bx-bitcoin' ></i>
            <span>Trade</span>
        </a>
        <a href="/interface/read">
            <i class='bx bx-plug'></i>
            <span>Interfaces</span>
        </a>
        <a href="/setting/menu">
            <i class='bx bx-cog'></i>
            <span>Settings</span>
        </a>
        <a href="/menu">
            <i class="bx bx-menu"></i>
            <span>Menu</span>
        </a>
    </nav>
{% endif %}
