{% extends 'base.html' %}

{% block main %}
    <h2 class="border-bottom m-3 p-3">Portfolio</h2>
    {% if not g.client %}
        <div class="card rounded mx-auto shadow" style="min-width: 14rem; max-width: 21rem;">
            <div class="card-body">
                <h5 class="card-title">Interfaces</h5>
                <h6 class="card-subtitle mb-2 text-muted">Add a Coinbase Pro API Key</h6>
                <p class="card-text">
                    The Interfaces page lets you manage authentication methods.
                </p>
                <p class="card-text">
                    Adding an authentication method allows this application to create, read, update,
                    and delete actions related to your Coinbase Pro account.
                </p>
                <a href="/interface/create" class="card-link">Create Interface</a>
            </div>
        </div>
    {% else %}
        <form class="d-none">
            <input type="hidden" name="{{context['name']}}" id="{{context['name']}}_value" value="0">
            <input type="hidden" name="currency" id="currency_value" value="{{g.user.currency}}">
        </form>
        <table id="total_value">
            <thead>
                <tr>
                    <th>{{ ' '.join(context['name'].split('_')) }}</th>
                </tr>
                <tr>
                    <th>Total Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="total_value">0</td>
                </tr>
            </tbody>
        </table>
        <table id="{{ context['name'] }}">
            <thead>
                <tr>
                    <th colspan="4">Portfolio</th>
                </tr>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Value</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for account in context['accounts'] %}
                    <tr data-name="{{ account['currency'] }}"
                        data-price="0"
                        data-value="0"
                        data-balance="{{ account['balance'] }}">
                        <td data-label="asset">{{ account['currency'] }}</td>
                        <td data-label="price">0</td>
                        <td data-label="value">0</td>
                        <td data-label="balance">{{ account['balance'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="/static/scripts/websocket.js"></script>
    <script src="/static/scripts/portfolio.js"></script>
    <script charset="utf-8">
        let context = {{ context | tojson }};
        let socket = new CoinbaseProWebSocket(context, updatePortfolioOnMessage);
        set_total_on_change();
        socket.send();
    </script>
{% endblock %}
