{% extends 'base.html' %}

{% block main %}
    <h2 class="border-bottom m-3 p-3">Strategies</h2>
    <nav id="nav-assets" class="nav-menu">
        <div class="mb-1">
            <a href="/strategy/create" class="btn btn-primary w-100">Create</a>
        </div>
        <div class="mb-1">
            <a href="/strategy/read" class="btn btn-primary w-100">Read</a>
        </div>
        <div class="mb-1">
            <a href="#" class="btn btn-secondary w-100">Update</a>
        </div>
        <div class="mb-0">
            <a href="/strategy/delete" class="btn btn-primary w-100">Delete</a>
        </div>
    </nav>
{% endblock %}
