{% extends 'base.html' %}

{% set strategy = sqlite.get_strategy(name) %}
{% set data = sqlite.get_data(strategy) %}
{% set basis = sqlite.get_data_basis(strategy) %}
{% set average = 0 %}

{% block main %}
    <nav class="mt-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/strategy/menu">Strategies</a></li>
            <li class="breadcrumb-item"><a href="/strategy/read">Read</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {{strategy.name | capitalize}}
            </li>
        </ol>
    </nav>

    <table id="overview">
        <thead>
            <tr>
                <th colspan=6>Overview</th>
            </tr>
            <tr>
                <th>Product</th>
                <th>Base</th>
                <th>Quote</th>
                <th>Platform</th>
                <th>Strategy</th>
                <th>Frequency</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="product">{{strategy.product}}</td>
                <td data-label="base">{{strategy.base}}</td>
                <td data-label="quote">{{strategy.quote}}</td>
                <td data-label="platform">{{g.client.name}}</td>
                <td data-label="strategy">{{strategy.type_}}</td>
                <td data-label="frequency">{{strategy.frequency}}</td>
            </tr>
        </tbody>
    </table>

    <table id="market">
        <thead>
            <tr>
                <th colspan=4>Market</th>
            </tr>
            <tr>
                <th>Price</th>
                <th>ROI</th>
                <th>ROI Ratio</th>
                <th>Federal Tax</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>

    <table id="analysis">
        <thead>
            <tr>
                <th colspan=6>Analysis</th>
            </tr>
            <tr>
                <th>Bought</th>
                <th>Sold</th>
                <th>Cost</th>
                <th>Average</th>
                <th>Per Coin</th>
                <th>Total Coin</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{'{0:.8f}'.format(basis["bought"])}}</td>
                <td>{{'{0:.8f}'.format(basis["sold"])}}</td>
                <td>{{'{0:.8f}'.format(basis["cost"])}}</td>
                {% if strategy.datum | list %}
                    <td>average</td>
                    <td>{{'{0:.8f}'.format(basis["cost"] * data.base_total | float)}}</td>
                    <td>{{'{0:.8f}'.format(data.base_total | float)}}</td>
                {% else %}
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <table id="strategy">
        <thead>
            <tr>
                <th colspan=7>Strategy</th>
            </tr>
            <tr>
                <th>Principal</th>
                <th>Period</th>
                <th>Yield</th>
                <th>Target</th>
                <th>Value</th>
                <th>Amount</th>
                <th>Side</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="principal">{{strategy.principal}}</td>
                <td data-label="period">{{strategy.period | int}}</td>
                <td data-label="yield">
                    {{'{0:.8f}'.format(strategy.yield_ | float)}}
                </td>
                {% if strategy.datum | list %}
                    <td data-label="target">
                        {{'{0:.8f}'.format(0)}}
                    </td>
                    <td data-label="value">
                        {{'{0:.8f}'.format(data.value | float)}}
                    </td>
                    <td data-label="amount">
                        {{'{0:.8f}'.format(data.recommend | float)}}
                    </td>
                    <td data-label="side">
                        {{data.side | capitalize}}
                    </td>
                {% else %}
                    <td data-label="target">
                        {{'{0:.8f}'.format(strategy.principal | float)}}
                    </td>
                    <td data-label="value">0.00000000</td>
                    <td data-label="amount">
                        {{'{0:.8f}'.format(strategy.principal | float)}}
                    </td>
                    <td data-label="side">Buy</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <table id="history">
        <thead>
            <tr>
                <th colspan=10>History</th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Price</th>
                <th>Target</th>
                <th>Value</th>
                <th>Amount</th>
                <th>Quote</th>
                <th>Quote Total</th>
                <th>Base</th>
                <th>Base Total</th>
                <th>Period</th>
            </tr>
        </thead>
        <tbody>
        {% for data in strategy.datum | reverse %}
            <tr>
                <td data-label="date">{{timestamp.to_date(data.date)}}</td>
                <td data-label="price">{{'{0:.8f}'.format(data.price | float)}}</td>
                <td data-label="target">{{"{0:.8f}".format(data.target | float)}}</td>
                <td data-label="value">{{"{0:.8f}".format(data.value | float)}}</td>
                <td data-label="recommend">{{"{0:.8f}".format(data.recommend | float)}}</td>
                <td data-label="quote">{{'{0:.8f}'.format(data.quote | float)}}</td>
                <td data-label="quote_total">
                    {{'{0:.8f}'.format(data.quote_total | float)}}
                </td>
                <td data-label="base">{{'{0:.8f}'.format(data.base | float)}}</td>
                <td data-label="base_total">
                    {{'{0:.8f}'.format(data.base_total | float)}}
                </td>
                <td data-label="period">{{data.period}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan=14>
                    <div class="mb-0 d-flex justify-content-center">
                        <a href="/strategy/write/{{strategy['name'] | lower}}" 
                           class="btn btn-primary w-50">Auto Fill</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="/static/scripts/websocket.js"></script>
    <script charset="utf-8">
        let strategy = {{ sqlite.strategy_to_dict(strategy) | tojson }};
    </script>
{% endblock %}
