{% extends 'base.html' %}

{% block main %}
    <nav class="mt-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/strategy/menu">Strategies</a></li>
            <li class="breadcrumb-item"><a href="/strategy/trade">Trade</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {{strategy.name | capitalize}}
            </li>
        </ol>
    </nav>

    <table id="strategy">
        <thead>
            <tr>
                <th colspan=7>Strategy</th>
            </tr>
            <tr>
                <th>Principal</th>
                <th>Period</th>
                <th>Yield</th>
                <th>Target</th>
                <th>Value</th>
                <th>Amount</th>
                <th>Side</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="principal">{{strategy.principal | float}}</td>
                <td data-label="period">{{strategy.period}}</td>
                <td data-label="yield">{{strategy.yield_ or None}}</td>
                <td data-label="target">0</td>
                <td data-label="value">0</td>
                <td data-label="amount">0</td>
                <td data-label="side">
                        <a href="/strategy/trade/{{strategy['name'] | lower}}" 
                           class="btn btn-primary w-100">Buy</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table id="history">
        <thead>
            <tr>
                <th colspan=11>History</th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Price</th>
                <th>Target</th>
                <th>Value</th>
                <th>Recommend</th>
                <th>Side</th>
                <th>Quote</th>
                <th>Quote Total</th>
                <th>Base</th>
                <th>Base Total</th>
                <th>Period</th>
            </tr>
        </thead>
        <tbody>
        {% for row in strategy.datum | reverse %}
            <tr>
                <td data-label="date">{{row.date}}</td>
                <td data-label="price">{{row.price}}</td>
                <td data-label="target">{{row.target}}</td>
                <td data-label="value">{{row.value}}</td>
                <td data-label="recommend">{{row.recommend}}</td>
                <td data-label="side">{{row.side}}</td>
                <td data-label="base">{{row.base}}</td>
                <td data-label="base_total">{{row.base_total}}</td>
                <td data-label="quote">{{row.quote}}</td>
                <td data-label="quote_total">{{row.quote_total}}</td>
                <td data-label="period">{{row.period}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan=14>
                    <div class="mb-0 d-flex justify-content-center">
                        <a href="/strategy/write/{{strategy['name'] | lower}}" 
                           class="btn btn-primary w-50">Auto Fill</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
